.triangle-image {
    background-image: url('../assets/triangles.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.center-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    background-color: rgba(231, 231, 231, 60%);
    border-radius: 15px;
    padding: 2em;
    position: fixed;
}

.loginText {
    font-size: 2.25em;
}

a {
    text-decoration: none;

}

.textMedium {
    font-size: 1.25em;
}

.textSmall {
    font-size: 1em;
}

.textLight {
    color: rgba(31, 30, 30, 70%);
}

label {
    font-size: 1.25em;
}

input {
    background-color: #D9D9D9;
    min-width: 25em;
    padding: 1em;
    border-radius: 10px;
    border: none;
}

input:focus {
    outline: none;
}

button:hover {
    color: black;
}

a.accentTextColor {
    color: #F6713F;
    font-weight: bold;
}

a.accentTextColor:visited  {
    color: #F6713F;
}

.textCenter {
    text-align: center;
}

.loginTitle {
    margin-bottom: 1.5em;
}

.loginEmail {
    margin-bottom: 1em;
}

.loginPassword {
    margin-bottom: 2em;
    position: relative;
}

.passwordVisibility {
    position: absolute;
    top:2.25em;
    right:1em;
}
.loginButton {
    width: 100%;
}

.formPosition {
    position: absolute;
    top: 1.75em;
    right: 2em;
}